{
  "openapi": "3.1.0",
  "info": {
    "title": "ImgPDF API",
    "description": "Free online image and PDF processing tools. Compress, convert, edit, merge, split images and PDFs.",
    "version": "1.0.0",
    "contact": { "email": "bhomvratrai7225@gmail.com" }
  },
  "servers": [{ "url": "https://thebhom.in/imgpdf" }],
  "paths": {
    "/api/v1/image/compress": {
      "post": {
        "summary": "Compress an image",
        "description": "Reduce image file size. Supports JPG, PNG, WEBP. Three quality levels: low, balanced, max.",
        "operationId": "compressImage",
        "requestBody": {
          "content": { "multipart/form-data": { "schema": { "type": "object", "properties": { "file": { "type": "string", "format": "binary" }, "quality": { "type": "string", "enum": ["low", "balanced", "max"] } } } } }
        },
        "responses": { "200": { "description": "Compressed image file" } }
      }
    },
    "/api/v1/image/resize": {
      "post": {
        "summary": "Resize an image",
        "description": "Change image dimensions. Set width, height, and fit mode.",
        "operationId": "resizeImage"
      }
    },
    "/api/v1/image/convert": {
      "post": {
        "summary": "Convert image format",
        "description": "Convert between JPG, PNG, WEBP, TIFF formats.",
        "operationId": "convertImage"
      }
    },
    "/api/v1/pdf/merge": {
      "post": {
        "summary": "Merge PDF files",
        "description": "Combine multiple PDF files into one document.",
        "operationId": "mergePdf"
      }
    },
    "/api/v1/pdf/split": {
      "post": {
        "summary": "Split PDF",
        "description": "Split PDF by page range or every N pages. Returns ZIP.",
        "operationId": "splitPdf"
      }
    },
    "/api/v1/pdf/compress": {
      "post": {
        "summary": "Compress PDF",
        "description": "Reduce PDF file size with configurable compression levels.",
        "operationId": "compressPdf"
      }
    }
  }
}
